<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Сайдбар</title>
</head>
<body>
<nav class="sidebar sidebar-light bg-light" th:fragment="sidebar">
    <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <!-- Кнопка "Admin" видна только пользователям с правами 'ADMIN' -->
        <a class="nav-link" href="/admin" sec:authorize="hasAuthority('ADMIN')"
           th:classappend="${requestURI.startsWith('/admin')} ? ' active'"
           role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>

        <!-- Кнопка "User" видна пользователям с правами 'ADMIN' или 'USER' -->
        <a class="nav-link" href="/user" sec:authorize="hasAnyAuthority('ADMIN', 'USER')"
           th:classappend="${requestURI == '/user'} ? ' active'"
           role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>
</nav>
</body>
</html>
