<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Создать пользователя</h1>
    <form th:action="@{/users/create}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" th:field="*{surname}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="age">Возраст:</label>
            <input type="number" id="age" th:field="*{age}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <a class="btn btn-secondary mt-2" href="/users">Назад</a>
</div>
</body>
</html>
